.pure-g{
	margin: 10px;
	background-color: darkred;
}

.my-heading{
	text-align: center;
	color: beige;
	font-family: Bona Nova SC;
	font-size: 50px;

}

.graph{
	margin: 10px;
	background-color: white;
}

.container {
	column-width: 500px;
}

.my-text{
	color: white;
	font-family:Libre Baskerville;
	margin: 10px;
	text-align: justify;
	font-size: 16px;
}