.pure-g{
	margin: 10px;
	background-color: darkred;
}

.pure-u-2-3{
	text-align: center;
}

.my-heading{
	text-align: center;
	color: beige;
	font-family: Bona Nova SC;
	font-size: 50px;

}

.graph{
	margin: 10px;
	padding: 10px;
	background-color: white;
	text-align: center;
	font: Libre Baskerville;
}

.my-text{
	color: white;
	font-family:Libre Baskerville;
	margin: 10px;
	text-align: justify;
	font-size: 16px;
}